<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <iframe width="100%" height="800" frameborder="0" src="http://docs.google.com/gview?url=http://192.168.1.21:1999/hello-2bddbd0ab6564a5bacb7b6f7df40c2ff/%E9%87%8D%E9%82%AE2018%E5%A4%8D%E8%AF%95C%E8%AF%AD%E8%A8%80%E7%AC%94%E8%AF%95%E4%BB%A3%E7%A0%81.doc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200406T060927Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604799&X-Amz-Credential=7METYYEX1K0DDY3E0ODM%2F20200406%2F%2Fs3%2Faws4_request&X-Amz-Signature=1dbeb7f34a4ad0ecac2a3ba38af7ce5c25eb4ff3e4e6e4b0bc54958ec49b4602&embedded=true"></iframe>-->
<!--<iframe src='https://view.officeapps.live.com/op/embed.aspx?src=http://192.168.1.21:1999/hello-2bddbd0ab6564a5bacb7b6f7df40c2ff/%E9%87%8D%E9%82%AE2018%E5%A4%8D%E8%AF%95C%E8%AF%AD%E8%A8%80%E7%AC%94%E8%AF%95%E4%BB%A3%E7%A0%81.doc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200406T060927Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604799&X-Amz-Credential=7METYYEX1K0DDY3E0ODM%2F20200406%2F%2Fs3%2Faws4_request&X-Amz-Signature=1dbeb7f34a4ad0ecac2a3ba38af7ce5c25eb4ff3e4e6e4b0bc54958ec49b4602' width='100%' height='100%' frameborder='0'></iframe>-->

<!--<script type="text/javascript" src="http://www.xdocin.com/xdoc.js"></script>-->
<!--<script>-->
<!--    XDoc.run("http://192.168.1.21:1999/hello-2bddbd0ab6564a5bacb7b6f7df40c2ff/%E9%87%8D%E9%82%AE2018%E5%A4%8D%E8%AF%95C%E8%AF%AD%E8%A8%80%E7%AC%94%E8%AF%95%E4%BB%A3%E7%A0%81.doc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200406T060927Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604799&X-Amz-Credential=7METYYEX1K0DDY3E0ODM%2F20200406%2F%2Fs3%2Faws4_request&X-Amz-Signature=1dbeb7f34a4ad0ecac2a3ba38af7ce5c25eb4ff3e4e6e4b0bc54958ec49b4602", "word", null, "_blank");-->
<!--</script>-->
    <script src="http://jhyt.oss-cn-shanghai.aliyuncs.com/images/1531367199089_PDFObject.js" type="text/javascript"></script>
    <div id="example1" style="width: 800px;height: 600px;margin-left: 30%"></div>
        <script>
            var options = {
                height: "550px",
                pdfOpenParams: {view: 'FitV', page: '0' },
                name:"mans",
                fallbackLink: "<p>您的浏览器暂不支持此pdf，请下载最新的浏览器</p>"
            };
        PDFObject.embed('http://192.168.1.21:1999/hello-2bddbd0ab6564a5bacb7b6f7df40c2ff/test.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200406T081713Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604799&X-Amz-Credential=7METYYEX1K0DDY3E0ODM%2F20200406%2F%2Fs3%2Faws4_request&X-Amz-Signature=fd79154a06e740d781040aadf146b613abff02a99cfb6943da210b2ac41463ee', "#example1",options);
        </script>

</iframe>
</body>

</html>