<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooper.demo.Mapper.FileRecoverMapper">
<!--    <select id="getDeletedFileList" resultType="com.cooper.demo.Bean.FileRecover">-->
<!--         SELECT * FROM file_recover WHERE (username=#{username})-->
<!--    </select>-->
<!--    <insert id="InsertDeleteInfo" parameterType="com.cooper.demo.Bean.FileRecover">-->
<!--        INSERT INTO file_recover(username,file_name,bucket_name,ctime)-->
<!--        VALUE(#{username},#{fileName},#{bucketName},#{ctime})-->
<!--    </insert>-->
<!--    <delete id="deleteFiles">-->
<!--        delete from file_recover where (username = #{username} AND file_name=#{fileName} AND bucket_name=#{bucketName})-->
<!--    </delete>-->
<!--    <delete id="deleteFilesAuto">-->
<!--        delete from file_recover where (username = #{username} AND file_name=#{fileName})-->
<!--    </delete>-->
</mapper>

